<app-header-area currentPage="journey"></app-header-area>

<app-breadcrumb currentPageTitle="Homeless journey" backgroundImagePath="/assets/img/bg-img/page-header-3.jpg"></app-breadcrumb>

<div class="mt-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>1 year journey when 18 years old</h2>
          <h2>1 month journey when 28 years old</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alime-portfolio-area clearfix">
  <div class="container-fluid">
    <div class="row alime-portfolio">
      <div *ngFor="let _ of this.galleryItemLength; let index=index;"
        class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
        <app-gallery-item imgUrl="/assets/img/journey-img/{{index}}.jpg"></app-gallery-item>
      </div>
    </div>
  </div>
</div>