<app-header-area currentPage="journey"></app-header-area>

<app-breadcrumb currentPageTitle="Homeless journey" backgroundImagePath="/assets/img/bg-img/page-header-3.jpg"></app-breadcrumb>

<div class="mt-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>1 year journey when 18 years old</h2>
          <h2>1 month journey when 28 years old</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alime-portfolio-area clearfix">
  <div class="container-fluid">
    <div class="row alime-portfolio">
      <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
        <div class="single-portfolio-content">
          <img src="/assets/img/journey-img/0.jpg" alt="">
          <div class="hover-content">
            <a href="/assets/img/journey-img/0.jpg" class="portfolio-img">+</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
        <div class="single-portfolio-content">
          <img src="/assets/img/journey-img/1.jpg" alt="">
          <div class="hover-content">
            <a href="/assets/img/journey-img/1.jpg" class="portfolio-img">+</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>