<app-hero-area backgroundImagePath='/assets/img/bg-img/hero.jpg'></app-hero-area>

<div class="pt-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="blog-details-text">
          <h3 class="mb-5">Full stack web developer with over 4 years</h3>

          <h4>Categories</h4>
          <app-progress bgType="danger" name="Web" value="100%"></app-progress>
          <app-progress bgType="danger" name="GUI" value="60%"></app-progress>
          <app-progress bgType="danger" name="Joint project" value="90%"></app-progress>
          <app-progress bgType="danger" name="Server" value="90%"></app-progress>

          <h4>Backend</h4>
          <app-progress bgType="success" name="Python" value="90%"></app-progress>
          <app-progress bgType="success" name="Django" value="70%"></app-progress>
          <app-progress bgType="success" name="C#" value="80%"></app-progress>
          <app-progress bgType="success" name="PHP" value="70%"></app-progress>
          <app-progress bgType="success" name="Mysql" value="80%"></app-progress>
          <app-progress bgType="success" name="Sqlserver" value="80%"></app-progress>
          <app-progress bgType="success" name="Sqlite" value="80%"></app-progress>
          <app-progress bgType="success" name="Heroku" value="70%"></app-progress>
          <app-progress bgType="success" name="Lambda" value="40%"></app-progress>

          <h4>Frontend</h4>
          <app-progress bgType="info" name="Html" value="90%"></app-progress>
          <app-progress bgType="info" name="Css" value="80%"></app-progress>
          <app-progress bgType="info" name="Javascript" value="80%"></app-progress>
          <app-progress bgType="info" name="Jquery" value="90%"></app-progress>
          <app-progress bgType="info" name="Swift" value="40%"></app-progress>
          <app-progress bgType="info" name="Angular" value="20%"></app-progress>
          <app-progress bgType="info" name="Vue" value="20%"></app-progress>

          <h4>Development environment</h4>
          <app-progress bgType="warning" name="Mac" value="100%"></app-progress>
          <app-progress bgType="warning" name="Git" value="100%"></app-progress>
          <app-progress bgType="warning" name="Azure" value="80%"></app-progress>
          <app-progress bgType="warning" name="Github" value="90%"></app-progress>
          <app-progress bgType="warning" name="Gitlab" value="90%"></app-progress>
          <app-progress bgType="warning" name="Vagrant" value="90%"></app-progress>
          <app-progress bgType="warning" name="Slack" value="100%"></app-progress>
        </div>
      </div>
    </div>
  </div>
</div>