<section class="our-team-area section-padding-80-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Written by</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto col-md-10 col-xl-3">
        <div class="team-content-area text-center mb-30">
          <div class="member-thumb">
            <img src="/assets/img/core-img/author.jpg" alt="">
          </div>
          <h5>Yuu Eguci</h5>
          <span></span>
          <div class="member-social-info">
            <a href="mailto:yuu.eguci@gmail.com" title="Mail">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="https://www.facebook.com/yuu.eguci" title="Facebook">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://github.com/yuu-eguci" title="GitHub">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://qiita.com/yuu-eguci" title="Qiita">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto col-md-10 col-xl-3">
        <div class="why-choose-us-content text-center mb-80">
          <div class="chosse-us-icon">
            <i class="fas fa-qrcode"></i>
          </div>
          <h4>portfolio.hitoren.net</h4>
          <p>
            <img src="/assets/img/core-img/qr.png" />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>