<app-header-area currentPage="engineering"></app-header-area>

<app-breadcrumb currentPageTitle="Engineering" backgroundImagePath="/assets/img/bg-img/page-header-1.jpg"></app-breadcrumb>

<div class="mt-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Skills And Experiences</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="blog-details-text">
          <h5 class="mt-3">LANG BACK-END</h5>
          <app-skill-badges [lis]="this.skillSetBackEnd"></app-skill-badges>
          <h5 class="mt-3">LANG FRONT-END</h5>
          <app-skill-badges [lis]="this.skillSetFrontEnd"></app-skill-badges>
          <h5 class="mt-3">FRAMEWORK</h5>
          <app-skill-badges [lis]="this.skillSetFramework"></app-skill-badges>
          <h5 class="mt-3">PLATFORM</h5>
          <app-skill-badges [lis]="this.skillSetPlatform"></app-skill-badges>
          <h5 class="mt-3">DATABASE</h5>
          <app-skill-badges [lis]="this.skillSetDatabase"></app-skill-badges>
          <h5 class="mt-3">VERSIONING</h5>
          <app-skill-badges [lis]="this.skillSetVersioning"></app-skill-badges>
          <h5 class="mt-3">EDITOR</h5>
          <app-skill-badges [lis]="this.skillSetEditor"></app-skill-badges>

          <p class="mt-3">
            Have maintained, developed and launched multiple projects from scratch,
            carrying the development of its back-end and front-end codebases.
          </p>
          <p>
            My current toolset includes <strong>Python & Django framework,
            C# & ASP.NET MVC, Angular & TypeScript</strong>
            and all the other various frameworks, libraries and technologies related to them.
          </p>
          <p>
            By the way, frankly speaking, <strong>I love Python.</strong>
            I want to communicate with many of Pythonista!
          </p>
          <div class="row">
            <div class="col-12 col-sm-4">
              <img class="mb-10" src="/assets/img/bg-img/blog-1.jpg" alt="">
            </div>
            <div class="col-12 col-sm-4">
              <img class="mb-10" src="/assets/img/bg-img/blog-2.jpg" alt="">
            </div>
            <div class="col-12 col-sm-4">
              <img class="mb-10" src="/assets/img/bg-img/blog-3.jpg" alt="">
            </div>
          </div>
          <ul class="mb-15">
            <li>Used to learn every day,</li>
            <li>Fit in new environment so quickly,</li>
            <li>Started up numbers of personal and joint developments,</li>
            <li>Output well with GitHub, GitLab, Qiita and blogs,</li>
            <li>Communicate well using Slack,</li>
            <li>Handle Linux, VPS, Azure, Heroku and other cloud services,</li>
            <li>Experienced developing with Python, PHP, C#,</li>
            <li>Not only HTML and CSS, develop with JavaScript, TypeScript, Jquery and Angular,</li>
          </ul>
          <p>
            I specialize in web applications that help business optimization.
            To eliminate redundant labor and the waste of paper
            and to let people have the room in their mind and time
            are my pleasure.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-80-0 mb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>My projects</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <app-project projectTitle="mrrhp-apache"
                   projectDescription="To create weblog system which works through apache. Articles are posted with markdown style. And this may become a joint development project with mates at once."
                   thumbnailUrl="/assets/img/proj-img/python-django.jpg"
                   tag1="python"
                   tag2="django"
                   url="https://github.com/yuu-eguci/mrrhp-apache"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="webpage-caller-for-aws"
                   projectDescription="This repository does only call a web page which is specified with environment variable, from AWS lambda."
                   thumbnailUrl="/assets/img/proj-img/python-lambda.jpg"
                   tag1="python"
                   tag2="aws-lambda"
                   url="https://github.com/yuu-eguci/webpage-caller-for-aws"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="MultiLangApp"
                   projectDescription="Create multilingual localized app using ASP.NET MVC and deploy onto Azure."
                   thumbnailUrl="/assets/img/proj-img/csharp-azure.jpg"
                   tag1="c#"
                   tag2="multi-language"
                   url="https://github.com/yuu-eguci/multilangapp"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="yahoo-login-web"
                   projectDescription="A small login authentication sample using Yahoo! ID 連携. Wanted to say 'small' though it has became so complicated. It works on GCP - App Engine."
                   thumbnailUrl="/assets/img/proj-img/node-gcp.jpg"
                   tag1="javascript"
                   tag2="gcp"
                   url="https://github.com/yuu-eguci/yahoo-login-web"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="simple-skype-bot"
                   projectDescription="Minimum Skype bot set."
                   thumbnailUrl="/assets/img/proj-img/simple-skype-bot.jpg"
                   tag1="python"
                   tag2="skype-bot"
                   url="https://github.com/yuu-eguci/simple-skype-bot"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="coc-skype-bot"
                   projectDescription="Skype Bot for supporting CoC TRPG."
                   thumbnailUrl="/assets/img/proj-img/coc-skype-bot.jpg"
                   tag1="python"
                   tag2="skype-bot"
                   url="https://github.com/yuu-eguci/coc-skype-bot"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="Despacito"
                   projectDescription="Joint project. Launcher like GUI app, to search for files in the PC and to execute them."
                   thumbnailUrl="/assets/img/proj-img/python-wxpython.jpg"
                   tag1="python"
                   tag2="wxpython"
                   url="https://gitlab.com/nakama-mate/despacito"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="line-messaging-api-py"
                   projectDescription="The repository that contains code related to LINE Messaging API."
                   thumbnailUrl="/assets/img/proj-img/python-line.jpg"
                   tag1="python"
                   tag2="line"
                   url="https://github.com/yuu-eguci/line-messaging-api-py"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="arrangement-game-try"
                   projectDescription="This app was made cuz I wanted to try to use pygame library. You can put floors and chairs. All graphics were what I made."
                   thumbnailUrl="/assets/img/proj-img/arrangement-game-try.jpg"
                   tag1="python"
                   tag2="pygame"
                   url="https://github.com/yuu-eguci/arrangement-game-try"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="minimap-try"
                   projectDescription="This app was made cuz I wanted to try to use pygame library."
                   thumbnailUrl="/assets/img/proj-img/minimap-try.jpg"
                   tag1="python"
                   tag2="pygame"
                   url="https://github.com/yuu-eguci/minimap-try"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="dialog-framework"
                   projectDescription="Generic framework for making dialog plays. So enjoyed to create this."
                   thumbnailUrl="/assets/img/proj-img/dialog-framework.jpg"
                   tag1="python"
                   tag2="pygame"
                   url="https://github.com/yuu-eguci/dialog-framework"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="image-location-test"
                   projectDescription="This app enables you to get coordinates of images on the pygame window."
                   thumbnailUrl="/assets/img/proj-img/image-location-test.jpg"
                   tag1="python"
                   tag2="pygame"
                   url="https://github.com/yuu-eguci/image-location-test"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="input-ghost"
                   projectDescription="Available only on Windows. It automatically pastes text lines to other application."
                   thumbnailUrl="/assets/img/proj-img/input-ghost.jpg"
                   tag1="python"
                   tag2="ctypes"
                   url="https://github.com/yuu-eguci/input-ghost"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="isseki-nichou"
                   projectDescription="First CLI game, you walk through the field, slaughter monsters and capture stones."
                   thumbnailUrl="/assets/img/proj-img/isseki-nichou.jpg"
                   tag1="python"
                   tag2="console-game"
                   url="https://github.com/yuu-eguci/isseki-nichou"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="coc-charamake-support-py3"
                   projectDescription="Character making tool for CoC TRPG, using Python3 and tkinter."
                   thumbnailUrl="/assets/img/proj-img/coc-charamake-support-py3.jpg"
                   tag1="python"
                   tag2="tkinter"
                   url="https://github.com/yuu-eguci/coc-charamake-support-py3"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="my-access-analytics"
                   projectDescription="PHP library which gets the result of Google Analytics."
                   thumbnailUrl="/assets/img/proj-img/my-access-analytics.jpg"
                   tag1="php"
                   tag2="google-analytics"
                   url="https://github.com/yuu-eguci/my-access-analytics"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="shibafu"
                   projectDescription="iOS app. The difference from normal todo app is that you can sync todo file on Dropbox and can edit it with text editor on your PC as well."
                   thumbnailUrl="/assets/img/proj-img/shibafu.jpg"
                   tag1="ios"
                   tag2="dropbox"
                   url="https://github.com/yuu-eguci/shibafu"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="slack-postman"
                   projectDescription="Post to Slack!!"
                   thumbnailUrl="/assets/img/proj-img/slack-postman.jpg"
                   tag1="python"
                   tag2="php"
                   url="https://github.com/yuu-eguci/slack-postman"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="spotlight-collector"
                   projectDescription="Collect spotlight images of Windows10."
                   thumbnailUrl="/assets/img/proj-img/spotlight-collector.jpg"
                   tag1="python"
                   tag2="crawling"
                   url="https://github.com/yuu-eguci/spotlight-collector"
                   class="col-12 col-lg-6">
      </app-project>
      <app-project projectTitle="Other Projects"
                   projectDescription="Feel easy to visit my GitHub and develop together with me!"
                   thumbnailUrl="/assets/img/proj-img/github.jpg"
                   url="https://github.com/yuu-eguci"
                   class="col-12 col-lg-6">
      </app-project>
    </div>
  </div>
</div>
<!-- Blog Area End -->

<app-author-area></app-author-area>