<!-- Welcome Area Start -->
<section class="welcome-area">
  <!-- FIXME: Donno why but owl-carousel class hides the div... -->
  <div class="welcome-slides">
    <!-- Single Slide -->
    <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/hero.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Welcome Text -->
          <div class="col-12 col-lg-8 col-xl-6">
            <div class="welcome-text">
              <h2 data-animation="bounceInUp" data-delay="100ms">
                I'm<br>Yuu Eguci
              </h2>
              <p data-animation="bounceInUp" data-delay="500ms">
                Awesome guy from Japan.
                Makes things with joy and creates the interaction with members in familiar teams.
                Examples of such activities will be described in this portfolio.
              </p>
              <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">
                  Merg la pagina românească
                </a>
                <a class="hero-mail-contact" href="mailto:yuu.eguci@gmail.com">
                  yuu.eguci@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome Area End -->

<div class="section-padding-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="blog-details-text">
          <h4>Full stack web developer with over 4 years</h4>

          <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              <span class="sr-only"></span>
            </div>
            <span class="progress-type">ASP.Net</span>
            <span class="progress-completed"></span>
          </div>

          <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100" style="width: 20%">
              <span class="sr-only"></span>
            </div>
            <span class="progress-type">Java</span>
            <span class="progress-completed"></span>
          </div>

          <p>In recent years people have realized the importance of proper diet and exercise, and recent surveys show
            that over the last 20 years people are eating better and working out more often, resulting in people living
            longer, but people are still lacking in their understanding that their mental well being is just as
            important as their physical health.</p>

          <p>Today most people get on average 4 to 6 hours of exercise every day, and make sure that everything they put
            in their mouths is not filled with sugars or preservatives, but they pay no attention to their mental
            health, no vacations, not even the occasional long weekend, 60 hour weeks, taking work home with them and
            even working weekends. All of this for hopes of one day getting that big promotion. What good will it do you
            when your brain overloads and you have a breakdown in the office.</p>

          <p>In the end your physical health will suffer no matter how well you eat and how often you exercise. You will
            wind up with high blood pressure, stress and tension all of which raises the chances of you having a stroke
            or heart attack.</p>

          <p>In hopes of helping you avoid this I am providing you with the things I do to keep my mental health in tip
            top condition.</p>

          <p>My absolute favorite thing to do to refocus myself is to go for a long ride on my Harley. Nothing brings
            the world back into focus like riding free like the wind, there is no better forms of therapy as far as I am
            concerned.</p>

          <!-- Blockquote -->
          <blockquote class="alime-blockquote">
            <h4>Thank you for shooting Jared's Bar Mitzvah. Our experience working with you was fantastic and the
              pictures you captured are outstanding and really captured the magic of the day.</h4>
            <h6>- Ron &amp; Nina B</h6>
          </blockquote>

          <p>I also enjoy watching an hour or 2 of television every night, some light sitcoms are a great way to lighten
            your minds load, and laughing out loud for 30 seconds every day is a great way to release stress.</p>

          <p>Video games are also great for stress release, if you are mad at your boss what better way to get it out of
            you then boxing, just imagine you are pounding on your boss and hope you don’t lose. I hope you try some of
            these methods or think of some of your own to help keep the stress down in your life and keep your mental
            health in as good of condition as the rest of you.</p>
        </div>

        <!-- Post Author Area -->
        <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
          <ul class="popular-tags">
            <li><a class="btn badges-btn" href="#">CAMERA</a></li>
            <li><a class="btn badges-btn" href="#">PHOTOGRAHY</a></li>
            <li><a class="btn badges-btn" href="#">TIPS</a></li>
          </ul>

          <!-- Share Info -->
          <div class="post-social-info d-flex align-items-center">
            <p>Share:</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Why Choose Us Area Start -->
<section class="why-choose-us-area pt-50 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Full Stack Web Engineering</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <!-- Blog Details Text -->
        <div class="blog-details-text">
          <h4>Full stack web developer with over 4 years</h4>
          <p>I have maintained, developed and launched multiple projects from scratch, using VPS, AWS, Heroku, cloud
            services.</p>
          <h4>Pursuing efficient team development</h4>
          <p>I'm proficient at team development, using GitHub, GitLab, Issue driven development flow and Slack.
            I speak English as well, I'll fit in every existing teams very quickly, I promise.</p>
          <h4>Very good at output</h4>
          <p>Daily outputting on Qiita, GitHub and portfolio site.</p>
          <h4>Hoping to work on Python, Django</h4>
          <p>Unfortunately I've never work on them at work. However I'm able to create Django websites from back-end to
            front-end
            alone.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose  us Area End -->

<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-80-0 mb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>My projects</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
          <!-- Post Thumbnail -->
          <a href="#" class="post-thumbnail"><img src="/assets/img/proj-img/dialog-framework.jpg" alt=""></a>
          <!-- Post Catagory -->
          <a href="#" class="btn post-catagory">Python</a>
          <a href="#" class="btn post-catagory" style="top: 45px;">Pygame</a>
          <!-- Post Conetent -->
          <div class="post-content">
            <div class="post-meta">
              <a href="#">対話劇作成フレームワーク。対話劇作成フレームワーク。対話劇作成フレームワーク。</a>
            </div>
            <a href="#" class="post-title">dialog-framework</a>
          </div>
        </div>
      </div>
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
          <!-- Post Thumbnail -->
          <a href="#" class="post-thumbnail"><img src="/assets/img/proj-img/dialog-framework.jpg" alt=""></a>
          <!-- Post Catagory -->
          <a href="#" class="btn post-catagory">Python</a>
          <a href="#" class="btn post-catagory" style="top: 45px;">Pygame</a>
          <!-- Post Conetent -->
          <div class="post-content">
            <div class="post-meta">
              <a href="#">対話劇作成フレームワーク。対話劇作成フレームワーク。対話劇作成フレームワーク。</a>
            </div>
            <a href="#" class="post-title">dialog-framework</a>
          </div>
        </div>
      </div>
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
          <!-- Post Thumbnail -->
          <a href="#" class="post-thumbnail"><img src="/assets/img/proj-img/dialog-framework.jpg" alt=""></a>
          <!-- Post Catagory -->
          <a href="#" class="btn post-catagory">Python</a>
          <a href="#" class="btn post-catagory" style="top: 45px;">Pygame</a>
          <!-- Post Conetent -->
          <div class="post-content">
            <div class="post-meta">
              <a href="#">対話劇作成フレームワーク。対話劇作成フレームワーク。対話劇作成フレームワーク。</a>
            </div>
            <a href="#" class="post-title">dialog-framework</a>
          </div>
        </div>
      </div>
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
          <!-- Post Thumbnail -->
          <a href="#" class="post-thumbnail"><img src="/assets/img/proj-img/dialog-framework.jpg" alt=""></a>
          <!-- Post Catagory -->
          <a href="#" class="btn post-catagory">Python</a>
          <a href="#" class="btn post-catagory" style="top: 45px;">Pygame</a>
          <!-- Post Conetent -->
          <div class="post-content">
            <div class="post-meta">
              <a href="#">対話劇作成フレームワーク。対話劇作成フレームワーク。対話劇作成フレームワーク。</a>
            </div>
            <a href="#" class="post-title">dialog-framework</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Blog Area End -->

<!-- Author Area Start -->
<section class="our-team-area section-padding-80-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Written by</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Team Member Area -->
      <div class="mx-auto col-md-10 col-xl-3">
        <div class="team-content-area text-center mb-30 wow">
          <div class="member-thumb">
            <img src="/assets/img/core-img/author.jpg" alt="">
          </div>
          <h5>Yuu Eguci</h5>
          <span></span>
          <div class="member-social-info">
            <a href="mailto:yuu.eguci@gmail.com">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="https://www.facebook.com/yuu.eguci">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://github.com/yuu-eguci">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Author Area End -->