<!-- Header Area Start -->
<header class="header-area">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="alimeNav">

          <!-- Logo -->
          <a class="nav-brand"></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li>
                  <a href="./index.html">
                    <i class="fas fa-home"></i>
                    Home
                  </a>
                </li>
                <li class="active">
                  <a href="./about.html">
                    <i class="fas fa-code"></i>
                    Program
                  </a>
                </li>
                <li>
                  <a href="./gallery.html">
                    <i class="fas fa-palette"></i>
                    Artwork
                  </a>
                </li>
                <li>
                  <a href="./gallery.html">
                    <i class="fas fa-motorcycle"></i>
                    Journey
                  </a>
                </li>
                <li>
                  <a href="./blog.html">
                    <i class="fas fa-file"></i>
                    CV
                  </a>
                </li>
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header Area End -->