<app-header-area currentPage="index"></app-header-area>

<app-hero-area backgroundImagePath='/assets/img/bg-img/hero.jpg'></app-hero-area>

<div class="alime-blog-area mt-30 mb-70">
  <div class="container">
    <div class="row">
      <app-index-item contentTitle="Engineering"
                      contentDescription="My engineering offers as full stack web developer"
                      contentUrl="engineering"
                      thumbnailUrl="/assets/img/bg-img/index-item-1.jpg"
                      class="col-12 col-lg-6">
      </app-index-item>
      <app-index-item contentTitle="Artworks"
                      contentDescription="I write, I draw, I paint, I create and I develop"
                      contentUrl="artworks"
                      thumbnailUrl="/assets/img/bg-img/index-item-3.jpg"
                      class="col-12 col-lg-6">
      </app-index-item>
      <app-index-item contentTitle="Homeless journey"
                      contentDescription="Have you ever seen people that travel homeless?"
                      contentUrl="journey"
                      thumbnailUrl="/assets/img/bg-img/index-item-4.jpg"
                      class="col-12 col-lg-6">
      </app-index-item>
    </div>
  </div>
</div>

<app-author-area></app-author-area>