<app-header-area currentPage="artworks"></app-header-area>

<app-breadcrumb currentPageTitle="Artworks" backgroundImagePath="/assets/img/bg-img/page-header-2.jpg"></app-breadcrumb>

<div class="mt-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Things</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="blog-details-text">
          <p>
            I draw with a ball-point pen.
            Although had practiced water-color painting, I'm not so particular about coloring.
            And I design mag coasters, stamps, ...
          </p>
          <p>
            Take a look anyways!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alime-portfolio-area section-padding-80 clearfix">
  <div class="container-fluid">
    <div class="row alime-portfolio">
      <div *ngFor="let _ of this.galleryItemLength; let index=index;"
           class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30">
        <app-gallery-item imgUrl="/assets/img/art-img/{{index}}.jpg"></app-gallery-item>
      </div>
    </div>
  </div>
</div>

<app-author-area></app-author-area>