<app-breadcrumb currentPageTitle="Artworks" backgroundImagePath="/assets/img/bg-img/page-header-2.jpg"></app-breadcrumb>

<div class="mt-30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Things</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="blog-details-text">
          <p>
            I draw with a ball-point pen.
            Although had practiced water-color painting, I'm not so particular about coloring.
            And I design mag coasters, stamps, ...
          </p>
          <p>
            Take a look anyways!
          </p>
          <div class="row">
            <div class="col-12 col-sm-4">
              <img class="mb-10" src="/assets/img/art-img/blog-1.jpg" alt="">
            </div>
            <div class="col-12 col-sm-8">
              <img class="mb-10" src="/assets/img/art-img/blog-2.jpg" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-8">
              <img class="mb-10" src="/assets/img/art-img/blog-4.jpg" alt="">
            </div>
            <div class="col-12 col-sm-4">
              <img class="mb-10" src="/assets/img/art-img/blog-3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alime-portfolio-area section-padding-80 clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Projects Menu -->
        <div class="alime-projects-menu wow fadeInUp" data-wow-delay="100ms">
          <div class="portfolio-menu text-center">
            <button class="btn active" data-filter="*">All</button>
            <button class="btn" data-filter=".human">Human</button>
            <button class="btn" data-filter=".nature">Nature</button>
            <button class="btn" data-filter=".country">Country</button>
            <button class="btn" data-filter=".video">Video</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row alime-portfolio">
      <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
        <div class="single-portfolio-content">
          <img src="/assets/img/art-img/0.jpg" alt="">
          <div class="hover-content">
            <a href="/assets/img/art-img/0.jpg" class="portfolio-img">+</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
        <div class="single-portfolio-content">
          <img src="/assets/img/art-img/1.jpg" alt="">
          <div class="hover-content">
            <a href="/assets/img/art-img/1.jpg" class="portfolio-img">+</a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 text-center wow fadeInUp" data-wow-delay="800ms">
        <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
      </div>
    </div>
  </div>
</div>

<app-author-area></app-author-area>